<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h2>Code Slayer Company Home page</h2>
    <hr>

    Welcome to Code Slayer Company Home page!
    <hr>

    <br><br>

    <!--  Logout form  -->
    <!--  Get method is disabled by default and hence post method is used  -->
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>