<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h2>Code Slayer Company Home page</h2>
    <hr>

    Welcome to Code Slayer Company Home page!
    <hr>

    <!--  Display username and role by using spring security xml namespace(feature) -->
    <p>
        User: <span sec:authentication="principal.username" />
        <br><br>
        Role(s): <span sec:authentication="principal.authorities" />
    </p>
    <hr>

    <br>

    <!--  Logout form  -->
    <!--  Get method is disabled by default and hence post method is used  -->
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>