<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration form</title>
</head>
<body>
    <h3>Student Registration Form</h3>

    <!--  th:object="${student} -> name of the modal attribute,  th:field="*{firstName}" -> student object attribute(short form to access)  -->
    <!--  when the form is loaded spring MVC will read the student data from the model using getter methods  -->
    <!--  when the form is submitted, spring MVC will update the data in model using setter methods  -->
    <form th:action="@{/students/processStudentForm}" th:object="${student}" method="post">
        First Name: <input type="text" th:field="*{firstName}" />

        <br><br>

        Last Name: <input type="text" th:field="*{lastName}" />

        <br><br>

        <!--   the selected option will be added to the country property of student object using setter method after submitting the form     -->
        Country:
        <select th:field="*{country}">
            <!--    loop over countries list and display each country     -->
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}" />
        </select>

        <br><br>

        <!--   th:field="*{favouriteLanguage} -> bind favouriteLanguage property to student object   -->
        Favourite Programming Language:
        <input type="radio" th:each="tempLanguage : ${programmingLanguages}" th:field="*{favouriteLanguage}" th:value="${tempLanguage}" th:text="${tempLanguage}" />
        <!--        <input type="radio" th:field="*{favouriteLanguage}" th:value="Go">Go</input>-->
        <!--        <input type="radio" th:field="*{favouriteLanguage}" th:value="Java">Java</input>-->
        <!--        <input type="radio" th:field="*{favouriteLanguage}" th:value="Python">Python</input>-->

        <br><br>

        <input type="submit" value="Submit" />
    </form>
</body>
</html>